.db{
    border: black solid 1px;
}

.container{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
    color: white;
}

.header-logo{
    font-weight: bolder;
    font-size: 24px;
}

.header a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.header-links{
    list-style: none;
    display:flex;
    gap: 20px;
    margin: 0px;
    padding: 0px;
}

.hero-content{
    background: #1F2937;
    color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;

}

.hero-left, .hero-right{
    flex-basis: 50%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right > img{
    background: grey;
    flex-grow: 1;
    max-height:  30vh;
    
}

.hero-title{
    font-size: 48px;
    font-weight: bold;
}

.hero-subtext{
    font-size: 18px;
}

.hero-left button{
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 7px;
}